<main>
  <h1>Bookshelf</h1>
  {{!  Information Books: }}
  {{#each currentUser.bookshelf}}
    <img src="{{imageUrl}}" alt="book-cover" />
    <h4>{{title}}</h4>

    <a href="/search/book-details/{{id}}">Book Details</a>
    <a href="/read-books/add-favorite-book/{{book.id}}">Add to favorites</a>
    <a href="/read-books/{{_id}}/remove">Remove Book</a>
      <a href="/future-books/{{_id}}/reccommend">Reccomend Book</a>
  {{/each}}

</main>