<nav class="nav-bar">
  <a href="/">Home</a>
  <a href="/profile">Profile</a>
  <a href="/search/friends">Search friends</a>
  <a href="/friends">Friends list</a>
  <a href="/search/books">Search books</a>
  <a href="/read-books/bookshelf">bookshelf</a>
  <a href="/read-books/favorites">favorites</a>
  <a href="/future-books/wishlist">wishlist</a>
  <a href="/future-books/reccommendations">reccommendations</a>
  <a href="/auth/logout">logout</a>
</nav>

<main>
  <h1>Bookshelf</h1>
  {{!  Information Books: }}
  {{#each currentUser.bookshelf}}
    <img src="{{this.imageUrl}}" alt="book-cover" />
    <h4>{{this.title}}</h4>
    {{!  Button Delete   }}
    {{!--  <form
      action="/read-books/{{currentUser.bookshelf._id}}/remove"
      method="post"
    >
      <button type="button">Remove Book</button></form> --}}
    <a href="/read-books/{{currentUser.bookshelf._id}}/remove">Remove Book</a>

    {{! Button Detail Book }}
    <a href="/search/book-details/{{currentUser.bookshelf._id}}">Book Details</a>
  {{/each}}

</main>