<head>
  <link rel="stylesheet" href="/stylesheets/user-books.css" />
</head>

<h1>Bookshelf</h1>
{{!  Information Books: }}

{{#if user.bookshelf}}
  <section class="user-books">

    <div class="user-books-center">
      {{#each user.bookshelf}}
        <div class="user-book-info">
          {{!--   {{>bookPartials this}} --}}
          <img src="{{this.imageUrl}}" alt="book-cover" />
          <h4>{{this.title}}</h4>

          {{#if this.author}}
            <h5>{{this.author}}</h5>
          {{/if}}

          {{#if this.averageRating}}
            <h5><span class="details-title"> Average rating of</span>
              {{this.averageRating}}</h5>
          {{/if}}
          <div class="user-books-buttons">
            <a class="a-button" href="/search/book-details/{{id}}">Book Details</a>
            <a
              class="a-button"
              href="/read-books/add-favorite-book/{{this.id}}"
            >Add to favorites</a>
            <a
              class="a-button"
              href="/future-books/{{this.id}}/reccommend"
            >Reccomend Book</a>
            <a class="a-button" href="/read-books/{{_id}}/remove">Remove Book</a>
          </div>
        </div>
      {{/each}}
    </div>
  </section>
{{else}}
  <section class="no-readings">
    <h5>No books in your bookshelf at the moment...
      <br />Peek over your wishlist!</h5>

    <div class="sad-booklover">
      <img src="/images/book_04.png" alt="sad-booklover" />
    </div>
    <a class="dropdown-item" href="/future-books/wishlist">Wishlist</a>
  </section>

{{/if}}