<main>
  <h1>Favorite books</h1>

  {{#each currentUser.favoriteBooks}}
    <img src="{{imageUrl}}" alt="book-cover" />
    <h4>{{title}}</h4>

    <a href="/search/book-details/{{id}}">Book Details</a>
    <a href="/read-books/{{_id}}/remove-favorite">Remove Book</a>
        <a href="/future-books/{{_id}}/reccommend">Reccomend Book</a>
  {{/each}}
</main>