<main>
  <h1>Currently reading</h1>

  {{#each currentUser.reading}}
    <img src="{{imageUrl}}" alt="book-cover" />
    <h4>{{title}}</h4>

    <p>{{pageCount}}</p>

    <a href="/search/book-details/{{id}}">Book Details</a>
    <a href="/read-books/add-bookshelf/{{book.id}}">Add to bookshelf</a>
    <a href="/read-books/add-favorite-book/{{book.id}}">Add to favorites</a>
    <a href="/read-books/{{_id}}/remove-reading">Remove Book</a>


</main>

{{!  Botton to count pages }}
<form action="/reading/{{_id}}" method="post">
  <label for="pagesCount">Couting Pages: </label>
  <input
    type="number"
    name="currentPage"
    id="currentPage"
    placeholder="pagesCount"
    value="{{currentPage}}"
  />
  <button class="search-books-button" type="submit">Update</button>
</form>

  {{/each}}