<main>
  <h1>Currently reading</h1>

  {{#each currentUser.reading}}
    <img src="{{imageUrl}}" alt="book-cover" />
    <h4>{{title}}</h4>

    <a href="/search/book-details/{{id}}">Book Details</a>
    <a href="/read-books/add-bookshelf/{{book.id}}">Add to bookshelf</a>
    <a href="/read-books/add-favorite-book/{{book.id}}">Add to favorites</a>
    <a href="/read-books/{{_id}}/remove-reading">Remove Book</a>

{{!  Botton to count pages }}
<form action="/reading/{{_id}}" method="post">
  <label for="pagesCount">Couting Pages: </label>
  <input
    type="number"
    name="currentPage"
    id="currenPage_{{_id}}"
    placeholder="pagesCount"
    value="{{currentPage}}"
  />
     <p id="pageCount_{{_id}}">{{pageCount}}</p>
  <button class="search-books-button" type="submit">Update</button>
</form>




<div role="progressbar" aria-valuenow="{{currentPage}}" aria-valuemin="0" aria-valuemax="{{pageCount}}" style="--value:{{#divide currentPage pageCount}}{{/divide}}"></div>

</main>
  {{/each}}