<head>
  <link rel="stylesheet" href="/stylesheets/reccommend.css" />
</head>

<section class="reccommend-form">
  <h3>{{book.volumeInfo.title}}</h3>
  <img src="{{book.volumeInfo.imageLinks.thumbnail}}" alt="book-cover" />
  <form action="/future-books/{{user._id}}/reccommend" method="post">

    <input type="text" name="bookID" value="{{book.id}}" hidden />
    <label class="for-friends" for="friends">Reccommend to friends:</label>
    <select name="friends" id="cast" multiple>
      {{#each user.friendsList}}
        <option value="{{_id}}">{{username}}</option>
      {{/each}}
    </select>
    <button type="submit">Reccomend</button>

  </form>

</section>