{{!-- {{! <head>
  <link rel="stylesheet" href="/stylesheets/user-books.css" />
</head> }}
<div class="user-books-center">

  <img src="{{this.imageUrl}}" alt="book-cover" />
  <h4>{{this.title}}</h4>
  <h5>{{this.author}}</h5>

  {{#if this.averageRating}}
    <h5><span class="details-title"> Average rating of</span>
      {{this.averageRating}}</h5>
  {{/if}}

    <a class="a-button" href="/search/book-details/{{id}}">Book Details</a>
    <a class="a-button" href="/read-books/add-favorite-book/{{book.id}}">Add to
      favorites</a>
    <a class="a-button" href="/future-books/{{_id}}/reccommend">Reccomend Book</a>
    <a class="a-button" href="/read-books/{{_id}}/remove">Remove Book</a>
</div> --}}