<head>
  <link rel="stylesheet" href="/stylesheets/book-details.css" />
</head>

<h1>Book details</h1>

<section class="book-picture-info-and-buttons">
  <section class="book-picture-and-info">
    {{#if book.volumeInfo.imageLinks.thumbnail}}
      <img src={{book.volumeInfo.imageLinks.thumbnail}} alt="book-cover" />
    {{else}}
      <img
        src="https://biblioottawalibrary.ca/sites/default/files/book.png"
        alt="book-cover"
      />
    {{/if}}
    <section class="book-details-info">
      <h3>{{book.volumeInfo.title}}</h3>
      {{#if book.volumeInfo.averageRating}}
        <h5><span class="details-title"> Average rating of</span>
          {{book.volumeInfo.averageRating}}</h5>
      {{/if}}
      {{#each book.volumeInfo.authors}}
        <h5><span class="details-title">Authors:</span> {{this}}</h5>
      {{/each}}
      <h5><span class="details-title">Genre:</span>
        {{#each book.volumeInfo.categories}}
          {{this}}
        {{/each}}
      </h5>

      <h5><span class="details-title">Publisher:</span>
        {{book.volumeInfo.publisher}}
      </h5>
      <h5><span class="details-title">Published Date:</span>
        {{book.volumeInfo.publishedDate}}
      </h5>
      <p><span class="details-title">Description:</span>
        {{book.volumeInfo.description}}
      </p>
    </section>
  </section>

  <section class="book-details-buttons">
    <a class="a-button" href="/add-reading-book/{{book.id}}">Reading</a>
    <a class="a-button" href="/future-books/add-wishlist/{{book.id}}">Add to
      wishlist</a>
    <a class="a-button" href="/read-books/add-bookshelf/{{book.id}}">Add to
      bookshelf</a>
    <a class="a-button" href="/read-books/add-favorite-book/{{book.id}}">Add to
      favorites</a>
    <a class="a-button" href="/future-books/{{book.id}}/reccommend">Reccomend
      Book</a>
  </section>
</section>