<main>
  <h1>Book details</h1>

  <h3>Title: {{book.volumeInfo.title}}</h3>

  {{#each book.volumeInfo.authors}}
    <p>Authors: {{this}}</p>
  {{/each}}
  <p>Genre:
    {{#each book.volumeInfo.categories}}
      {{this}}
    {{/each}}
  </p>

  <p>Publisher: {{book.volumeInfo.publisher}} </p>
  <p>Published Date: {{book.volumeInfo.publishedDate}} </p>
  <p>Description: {{book.volumeInfo.description}} </p>

  {{#if this.volumeInfo.imageLinks.thumbnail}}
    <img src={{this.volumeInfo.imageLinks.thumbnail}} alt="book-cover" />
  {{else}}
    <img
      src="https://biblioottawalibrary.ca/sites/default/files/book.png"
      alt="book-cover"
    />
  {{/if}}

  <a href="/add-reading-book/{{book.id}}">Reading</a>
  <a href="/future-books/add-wishlist/{{book.id}}">Add to wishlist</a>
  <a href="/read-books/add-bookshelf/{{book.id}}">Add to bookshelf</a>
  <a href="/read-books/add-favorite-book/{{book.id}}">Add to favorites</a>

</main>